# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb
*.env

# Virtual environments
venv/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
notebook/

# Dev container settings
.devcontainer/



# OS-specific files (optional)
.DS_Store
Thumbs.db

