--extra-index-url https://download.pytorch.org/whl/cpu
langchain_openai
langchain_core
langchain
langchain_community
langchain_huggingface
python-dotenv
sentence-transformers
faiss-cpu
langgraph
uvicorn
pydantic
fastapi
rapidfuzz
transformers
torch
torchvision
google-search-results
redis
dill
